header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
  max-height: 900px;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ========== WEB DEVELOPER ========== */
.typewriter {
  margin-left: 15px;
  display: inline-block;
  color: #ea4335 !important;
}

.typewriter span {
  padding: 0 0.1rem;
  overflow: hidden;
  /* border-right: 0.15em solid var(--color-primary); */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.4rem;
  font-weight: 500;
  /* animation: typing 3s steps(13, end), blink-caret 0.75s step-end infinite; */
}

.text-gradient {
  font-size: 1.2em;
  background: -webkit-linear-gradient(
    -60deg,
    #4285f4,
    #34a853,
    #fbbc05,
    #ea4335
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-primary);
  }
} */

/* ========== CTA ========== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.cta-icon {
  display: flex !important;
  align-items: center;
  gap: 0.5rem;
}

.bg-dark .btn.cta-icon.dl {
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.bg-dark .btn.cta-icon.dl:hover {
  color: var(--color-black);
}

/* ========== HEADER SOCIALS ========== */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 2.5rem;
  font-size: 1.1rem;
  color: var(--color-primary);
}

.header__socials a:hover {
  color: var(--color-primary-variant);
}

.main-content.bg-dark .header__socials a {
  color: var(--color-white);
}

.main-content.bg-dark .header__socials a:hover {
  color: var(--color-primary);
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.main-content.bg-dark .header__socials::after {
  background: var(--color-white);
}

/* ========== ME ========== */
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 1rem 0 0 0;
  order: 1;
  box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
  animation: profile__animate 8s ease-in-out infinite 0s;
}

@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 35% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* ========== SCROLL DOWN ========== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 1rem;
  color: var(--color-primary);
}

.scroll__down:hover {
  color: var(--color-primary-variant);
}

.main-content.bg-dark .scroll__down {
  color: var(--color-white);
}

.main-content.bg-dark .scroll__down:hover {
  color: var(--color-primary);
}

.mouse {
  width: 1rem;
  height: 2rem;
  border: 1.5px solid var(--color-primary);
  border-radius: 60px;
  position: absolute;
  right: 0rem;
  bottom: 9.5rem;
}

.mouse::before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-primary);
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

.main-content.bg-dark .mouse {
  border-color: var(--color-white);
}

.main-content.bg-dark .mouse::before {
  background-color: var(--color-white);
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 20px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 20px;
  }
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
    min-height: 900px;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
    min-height: 900px;
  }

  .header__socials,
  .scroll__down,
  .mouse {
    display: none;
  }
}
